$light-blue:#0e6aaf24;
$light-navy: #1282a2;
$high-light-navy: #1173bb ;
$middle-navy: #034078;
$dark-navy: #001f54;
$high-dark-navy: #001128;
$color-white: #fefcfb;

$yellowColor: #d2ac19;


$S: 576px;
$M: 768px;
$L: 992px;
$X: 1200px;
